{% extends "base_generic.html" %}

{% block softwaremenu %}active{% endblock %}

{% block content %}
    
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">{{software.name}}</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/software/">Software</a>
      </li>
      <li class="breadcrumb-item active">{{software.name}}</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        {% if software.image %}
        <img class="img-fluid rounded mb-4" src="{{software.image.url}}" alt="">
        {% endif %}
      </div>
      <div class="col-lg-6">
        <h2>Overview</h2>
        <p>{{software.description | safe}}</p>
      </div>
    </div>
    <!-- /.row -->
<hr>
    <!-- Software versions -->
    <div class="row">

      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-left">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col-lg-12"><h4 class="card-title">Software versions</h4></div>
              </div>            
              <div class="row">
                <div class="col-md-12">

                  <ul>
                    {% for swv in software.softwareversion_set.all reversed %}
                    <li><a href="{% url 'sw-version-detail' swv.pk %}">{{swv.version}}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <!-- end container -->
          </div>
          <!-- end card-body -->
          
        </div>
      </div>
      <!-- /.card -->

      <!-- Tutorials -->
      <div class="col-lg-8 mb-4">
        <div class="card h-100 text-left">
          <div class="card-body">
            <h4 class="card-title">Tutorials</h4>
            <div class="row">
              <div class="col-md-12">
                <ul>

                  {% for tutorial in tutorials %}
                  <li><a href="{% url 'tutorial-detail' tutorial.pk %}">{{tutorial.name}}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          
        </div> 
        <!-- /.card -->
      </div>
      <!-- /.col -->
      
    </div>
    <!-- /.row -->

    <!-- references -->
    {% if refs %}
    <div class="row">
      <div class="col-lg-12 mb-4">
        <div class="card h-100 text-left">
          <div class="card-body">
            <h4 class="card-title">References</h4>
            <div class="row">
              <div class="col-md-12">
                <table class="simple-table" style="font-size: 12px;">
                  <tr>
                    <th><b>Author(s)</b></th>
                    <th><b>Title</b></th>
                    <th><b>RefType</b></th>
                    <th><b>Doc #</b></th>
                    <th><b>Published</b></th>
                    <th><b>File Download</b></th>
                  </tr>
                  
                    {% for ref in refs %}
                    <tr>
                      <td>{{ref.authors}}</td>
                      {% if ref.link %}
                        <td><a href="{{ref.link}}">{{ref.title}}</a></td>
                      {% else %}
                        <td><a href="{% url 'reference-detail' ref.pk %}">{{ref.title}}</a></td>
                      {% endif %}
                      <td>{{ref.get_reftype_display}}</td>
                      <td>{{ref.doc_num}}</td>
                      <td>{{ref.published}}</td>
                      {% if ref.file %}
                      <td><a href="{{ref.file.url}}">download</a>
                      {% else %}
                      <td></td>
                      {% endif %}
                    {% endfor %}                  
                </table>
              </div>
            </div>
          </div>
          
        </div> 
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    {% endif %}
  </div>
  <!-- /.container -->

{% endblock %}

<!-- Footer -->
  {% block lastupdated %}{{software.last_modified}}{% endblock %}