{% extends "base_generic.html" %}

{% block materialmenu %}active{% endblock %}

{% block header %}
  {% if form_error or form_success %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#exampleModal").modal('show');
        });
    </script>
  {% endif %}
{% endblock %}

{% block content %}
    
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">{{material.name}}</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/materials/">Materials</a>
      </li>
      <li class="breadcrumb-item active">{{material.name}}</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="{{material.image.url}}" alt="">
      </div>
      <div class="col-lg-6">
        <h2>Overview</h2>
        <p>{{material.description}}</p>
      </div>
    </div>
    <!-- /.row -->
<hr>
    <!-- Material versions -->
    <div class="row">

      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-left">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col-lg-6"><h4 class="card-title">Property versions</h4></div>
                  {% if perms.materials.add_materialversion %}
                  <div class="col-lg-6">
                  <!-- Button trigger modal -->
                  <div class="d-inline-block text-small">
                    <span title="Feature Release Label: Beta" class="Label Label--outline-green Label--inline ml-1 px-1">Beta</span>
                  </div>
                  <button type="button" class="btn btn-primary dropbtn" data-toggle="modal" data-target="#exampleModal">
                    Upload
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <form action="" method="post" enctype="multipart/form-data">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Upload Material Properties</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                                {% csrf_token %}
                                {{ form.as_p }}
                          </div>
                          {% if form_error %}
                          <p>Failure!</p>
                          {% endif %}
                          {% if form_success %}
                          <p>Success!</p>
                          {% endif %}
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Upload" style="margin-bottom: 5px;" />
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!--end modal -->
                </div>
                <!--end col -->
                {% endif %}
              </div>            
              <div class="row">
                <div class="col-md-12">

                  <ul>
                  {% if material.isITAR %}
                    {% for matv in material.itarmaterialversion_set.all reversed%}
                    <li><a href="{% url 'itarversion-detail' matv.pk %}">{{matv.version}}</a></li>
                    {% endfor %}
                  {% else %}
                    {% for matv in material.materialversion_set.all reversed%}
                    <li><a href="{% url 'version-detail' matv.pk %}">{{matv.version}}</a></li>
                    {% endfor %}
                  {% endif %}
                  </ul>
                </div>
              </div>
            </div>
            <!-- end container -->
          </div>
          <!-- end card-body -->
          
        </div>
      </div>
      <!-- /.card -->

      <div class="col-lg-8 mb-4">
        <div class="card h-100 text-left">
          <div class="card-body">
            <h4 class="card-title">References</h4>
            <div class="row">
              <div class="col-md-12">
                <table class="simple-table" style="font-size: 12px;">
                  <tr>
                    <th>Author(s)</th>
                    <th>Title</th>
                    <th>RefType</th>
                    <th>Published</th>
                  </tr>
                  
                    {% for ref in references %}
                    <tr>
                      <td>{{ref.authors}}</td>
                      {% if material.isITAR %}
                        <td><a href="{% url 'itarreference-detail' ref.pk %}">{{ref.title}}</a></td>
                      {% else %}
                        <td><a href="{% url 'reference-detail' ref.pk %}">{{ref.title}}</a></td>
                      {% endif %}
                      <td>{{ref.get_reftype_display}}</td>
                      <td>{{ref.published}}</td>
                    {% endfor %}                  
                </table>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <!-- /.card -->
      
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock %}

<!-- Footer -->
  {% block lastupdated %}{{material.last_modified}}{% endblock %}