{% extends "base_generic.html" %}

{% block materialmenu %}active{% endblock %}

{% block maincontainer %}
  <div class="container">
{% endblock %}

{% block content %}

<!-- Title -->
<h1 class="mt-4 mb-3">{{matv.material.name}}&nbsp;{{matv.version}}</h1><hr>
<ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/materials/">Materials</a>
      </li>
      <li class="breadcrumb-item">
        {% if matv.isITAR %}
          <a href="{% url 'itarmaterial-detail' matv.material.pk %}">{{matv.material.name}}</a>
        {% else %}
          <a href="{% url 'material-detail' matv.material.pk %}">{{matv.material.name}}</a>
        {% endif %}
      </li>
      <li class="breadcrumb-item active">{{matv.material.name}}&nbsp;{{matv.version}}</li>
</ol>
<hr>

<div class="row"> <!-- download/view buttons -->
    <div class="card-body" id="vinfo">
        <div class="row no-gutters">
            <div class="col-lg-2 col-md-2 col-sm-4">
                <div class="dropdown">
                    <button class="dropbtn btn btn-primary">Export</button>
                    <div id="myDropdown" class="dropdown-content">
                        {% for i in download %}
                        <form method="post">
                        {% csrf_token %}
                        <button class="downloadbutton" type="submit" name="export_codes" value="{{i.software_version.pk}}">{{i.software_version.software.name}}</button>
                        </form>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4">
                <div class="dropdown">
                    <button class="dropbtn btn btn-primary">Views</button>
                    <div id="myDropdown_views" class="dropdown-content">
                        {% for i in software %}
                        <form method="post">
                        {% csrf_token %}
                        <button class="downloadbutton" type="submit" name="views" value="{{i.name}}">{{i.name}}</button>
                        {% endfor %}
                        <button class="downloadbutton" type="submit" name="views" value="All">All</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<hr>
<div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-12">

        <!-- Preview Image 
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
        -->

        <!-- Post Content -->
        <div class="card mb-4">
          <h5 class="card-header">Property graph</h5>
          <div class="card-body" id="vinfo">
            <div class="row no-gutters">
                <div class="col-lg-6">
                  <table class="simple-table">
                    <tr> <th style='font-weight: bold'>Version:</th> <td>{{matv.version}}</td> </tr>
                    <tr> <th style='font-weight: bold'>Published:</th> <td>{{matv.published}}</td> </tr>
                    <tr> <th style='font-weight: bold'>Material grade:</th> <td>{{matv.get_grade_display}}</td> </tr>
                    <tr> <th style='font-weight: bold'>Lead POC:</th> <td>{{matv.material_lead}} </td> </tr>
                    <tr> <th style='font-weight: bold'>Material SME:</th> <td>{{matv.material_expert}} </td> </tr>
                    <tr> <th style='font-weight: bold'>Modeling SME:</th> <td>{{matv.modeling_expert}} </td> </tr>
                    <tr> <th style='font-weight: bold'>Other POC:</th> <td>{{matv.other_contact}}</td> </tr>
                      {% if matv.datasheet %}
                    <tr> <th>Datasheet: <a href="{{matv.datasheet.url}}">download</a></li>
                      {% endif %}
                  </table>
                </div>
                <div class="col-lg-6">
                    <h5>Notes:</h5>
                    <p>{{matv.notes|linebreaks}}</p>
                </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            Last modified: {{matv.last_modified}}&nbsp;by&nbsp;{{matv.modified_by}} 
          </div>
        </div>
	
        <hr>

        <!-- Variable Properties -->
	
        <div class="card mb-4">
          <h5 class="card-header">Variable properties</h5>
          <div class="card-body" id="varprops">
            <table class="simple-table" style="font-size: 12px;">
            <tr>
              <th style='font-weight: bold'>Name</th>
              <th style='font-weight: bold'>State</th>
              <th style='font-weight: bold'>Pressure</th>
              <th style='font-weight: bold'>Temperature</th>
              <th style='font-weight: bold'>Values</th>
              <th style='font-weight: bold'>Units</th>
              <th style='font-weight: bold'>Software</th>
            </tr>
            {% for var in varprops%}
            <tr>
              <th style='font-weight: bold'>
              {% if var.isITAR %}
                <a href="{% url 'itarvprop-detail' var.pk %}">{{var.property_instance.property.name}}</a>
              {% else %}
                <a href="{% url 'vprop-detail' var.pk %}">{{var.property_instance.property.name}}</a>
              {% endif %}
              </th>
              <td>{{var.property_instance.get_state_display}}</td>
              <td>{{var.p.min}}&nbsp;&#8658;&nbsp;{{var.p.max|stringformat:"1.2e"}}</td>
              <td>{{var.T.min}}&nbsp;&#8658;&nbsp;{{var.T.max}}</td>
              <td style="text-align:right">{{var.values.min|stringformat:".2e"}}&nbsp;&#8658;&nbsp;{{var.values.max|stringformat:".2e"}}</td>
              <td>{{var.property_instance.property.unit.symbol}}</td>
              <td></td>
            </tr>
            {% endfor %}
            
            </table>
          </div>
          <!--
          <div class="card-footer text-muted">
            Last modified: {{varprop.last_modified}}
          </div>
          -->
        </div>
	
        <hr>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-lg-12">

        <!-- Constant Properties Widget -->
        <div class="card mb-4">
          <h5 class="card-header">Constant properties</h5>
          <div class="card-body">
            <table class="simple-table" style="font-size: 12px;">
            <tr>
              <th style='font-weight: bold'>Name</th>
              <th style='font-weight: bold'>State</th>
              <th style='font-weight: bold'>Value</th>
              <th style='font-weight: bold'>Units</th>
              <th style='font-weight: bold'>Description</th>
              <th style='font-weight: bold'>Software</th>
            </tr>
            {% for prop in constprops %}
               <tr>
                 <th style='font-weight: bold'>{{prop.property_instance.property.name}}</th>
                 <td>{{prop.property_instance.get_state_display}}</td>
                 <th>{{prop.value}}</th>
                 <th>{{prop.property_instance.property.unit.symbol}}</th>
                 <th>{{prop.property_instance.property.description}}</th>
                 <th></th>
               </tr>
            {% endfor %}
            </table>
          </div>
        </div>
        <!-- End Constant Properties Widget -->

        <!-- Matrix Properties Widget -->
        <div class="card my-4">
          <h5 class="card-header">Matrix Properties</h5>
          <div class="card-body">
            <table class="simple-table" style="font-size: 12px;">
            <tr>
              <th style='font-weight: bold'>Name</th>
              <th style='font-weight: bold'>Value</th>
              <th style='font-weight: bold'>Units</th>
              <th style='font-weight: bold'>Description</th>
              <th style='font-weight: bold'>Software</th>
            </tr>
            {% for prop in matrixprops %}
               <tr>
                 <th style="font-weight: bold">{{prop.property_instance.property.name}}</th>
                 <th>{{prop.value}}</th>
                 <th>{{prop.property_instance.property.unit.symbol}}</th>
                 <th>{{prop.property_instance.property.description}}</th>
                 <th></th>
               </tr>
            {% endfor %}
            </table>
          </div>
        </div>
        <!-- End Matrix Properties Widget -->
        

      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
{% endblock %}


{% block lastupdated %}{{matv.last_modified}}{% endblock %}