body {
  padding-top: 56px;
}

.my-custom-scrollbar {
position: relative;
height: 200px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

table.simple-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td.simple-table, th.simple-table {
  border: 1px solid #ddd;
  padding: 8px;
}

th.simple-table {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: black;
} 